*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --title-font-size: 1.75em;
}

body {
    margin: 0 auto;
    padding: 0;
    width: 600px;
    font-family: 'Smythe', cursive;
    letter-spacing: .05rem;
    height: 100vh;
} 

section {
    padding: 1em 2.875em 1.81em 2.875em; 
    background-color: #FBF9F3;
}

.center-text {
    text-align: center;
}

/* Header section */

header {
    background-image: url("images/header.png");
    background-size: cover;
    color: #FFFFFF;
    padding: 2.875em 0 4.375em 2.875em;
}

.restaurant-title {
    margin: 0;
    font-size: 2.44rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
}

.slogan {
    font-size: 1.4rem;
}

/* Menu section */

.menu-item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
        "img name btn"
        "img desc btn"
        "img price btn";
    border-bottom: 1px solid #D2D2D2;
    padding: 3.26em 0 3.19em 0;
}

.menu-item-name,
.menu-item-ingredients,
.menu-item-price {
    justify-self: start;
}

.menu-item-img {
    grid-area: img;
    margin-right: 1.94em;
}

.menu-item-name {
    grid-area: name;
}

.menu-item-ingredients {
    grid-area: desc;
    color: #8B8B8B;
    line-height: 1.5rem;
}

.menu-item-price {
    grid-area: price;
}

.menu-item-add {
    grid-area: btn;
    width: 50px;
    height: 50px;
    align-self: center;
    color: #3C3C3C;
    border: 1.5px solid #DEDEDE;
    background-color: inherit;
    border-radius: 50%;
    font-family: "inter", sans-serif;
    transition: background-color 0.3s ease;
}

.menu-item-add:hover {
    cursor: pointer;
    background-color: #F5EFE0;
}

/* Order section */

.order-item {
    display: flex;
    align-items: baseline; 
    padding-bottom: 1.375em;
}

.order-title {
    font-size: var(--title-font-size);
    padding-bottom: 1em;
}

.order-container p {
    font-size: 1.4em;
    color: #8B8B8B;
    padding-bottom: 1.3em;
}

.order-item-name {
    padding-right: .1em;
}

.order-item-count {
    font-size: 1.25rem;
    color: #8B8B8B;
    letter-spacing: .07em;
    padding-right: 0.5em;
}

.order-item-remove {
    font-size: 0.9rem;
    font-family: "inter", sans-serif;
    color: #BBBBBB;
    letter-spacing: 0;
    transition: color 0.3s ease, transform 0.3s ease;
}

.order-item-remove:hover {
    cursor: pointer;
    color: #7F2B0A;
    transform: scale(1.1);
}

button {
    color: #FFFFFF;
    background-color: #462F22;
    transition: background-color 0.3s ease;
    letter-spacing: inherit;
}

.order-btn {
    width: 100%;
    border: none;
    font-family: "inter", sans-serif;
    padding: 1.125em 0;
    margin-bottom: 1.3em;
    margin: 0 auto 1.3em auto;
    border-radius: 4px;
}

/* Shared attributes between Menu and Order section */

button:hover {
    background-color: #684633;
}

.order-item-price, .total-price {
    margin-left: auto;
}

.order-total {
    border-top: 2px solid #393333;
}

.item-name {
    font-size: var(--title-font-size);
    line-height: .9rem;
}

.item-price {
    font-size: 1.25rem;
    line-height: 1.2rem;
}

.order-total {
    font-size: var(--title-font-size);
    padding-top: 0.625em;
    display: flex;
    padding-bottom: 1.3em;
}

/* Form popup */

.payment-form {
    display: none;
    flex-direction: column;
    font-family: "inter", sans-serif;
    background-color: #FFFFFF;
    border-radius: 4px;
    font-weight: 700;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    /* For positioning */
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: fit-content;
    width: 80%;
}

.payment-form h2 {
    text-align: center;
    padding: 2em 0 1em 0
}

.payment-form input, button {
    margin: 1.45em;
    border-radius: 4px;
}

.payment-form button {
    padding: 1em;
    border: none;
    font-weight: inherit;
}

.payment-form input {
    border: 1.3px solid #757575;
    padding: 1em;
}

/* Order confirm message */

.payment-message-container p {
    font-size: 2rem;
    color: #462F22;
    text-align: center;
}